#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
body{
  background-color: rgb(211 200 200 / 50%);
  height: 100%;
  width: 100%;
}
/* rgba(240, 195, 156, 0.685) */